<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Панель управления | Frontender Magazine
    body
        section.application
        script(src="js/bundle.js" async, def)
